h1{
    color:brown
}
* {
     border:solid
}

.header{
background-color: cadetblue;
display:flex;
justify-content : space-between;
}

.grid{
    background-color: darksalmon;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    background-color: darkseagreen;
    display:flex;
    justify-content :flex-end
}
p,h2{
    text-align: center;
    background-color: gold;
}

body{
background-color: #808080;
}